<html>
<head>
    <script src="https://unpkg.com/vue@next/dist/vue.global.js"></script>
</head>
<body>
    <script src="/resources/scripts/mPerson.js"></script>
    <table id="dvList">
        <thead>
            <tr>
                <th colspan="100%">Full Person List</th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>FullName</th>
                <th>
                    <button v-on:click="CreateNew">Create New</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="person in Items">
                <td>{{person.FirstName}}</td>
                <td>{{person.LastName}}</td>
                <td>
                    <asynccomp v-bind:promise="person.GetFullName()">
                        <template #resolved="props">
                            {{props.result}}
                        </template>
                        <template #rejected="props">
                            <span style="color:red">{{props.result}}</span>
                        </template>
                    </asynccomp>
                </td>
                <td>
                    <button v-on:click="person.destroy()">Delete</button>
                    <button v-on:click="EditPerson(person)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="dvListFiltered">
        <thead>
            <tr>
                <th colspan="100%">Filtered Person List</th>
            </tr>
            <tr>
                <th colspan="100%">
                    <input type="text" v-model="current_filter"/>
                </th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>FullName</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="person in Items">
                <td>{{person.FirstName}}</td>
                <td>{{person.LastName}}</td>
                <asynccomp v-bind:promise="person.GetFullName()">
                    <template #resolved="props">
                        {{props.result}}
                    </template>
                    <template #rejected="props">
                        <span style="color:red">{{props.result}}</span>
                    </template>
                </asynccomp>
            </tr>
        </tbody>
    </table>
    <table id="dvedit" v-show="person!=null">
        <thead>
            <tr>
                <th colspan="100%">
                    <template v-if="person!=null && person.isNew()">
                        Create
                    </template>
                    <template v-if="person!=null && !person.isNew()">
                        Edit
                    </template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td><input type="text" v-model="FirstName" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" v-model="LastName" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <button v-on:click="Save" :disabled="FirstName==null||LastName==null">
                        <template v-if="person!=null && person.isNew()">
                            Create
                        </template>
                        <template v-if="person!=null && !person.isNew()">
                            Update
                        </template>
                    </button>
                    <button v-on:click="person=null">
                        Cancel
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
    <script>
        var person = App.Models.mPerson.createInstance();
        console.log(person);
        var frm = Vue.createApp({
            data: function () {
                return { person: null, lst: null, FirstName: null, LastName: null };
            },
            watch: {
                person: function (val) {
                    if (val == null) {
                        this.FirstName = null;
                        this.LastName = null;
                    } else {
                        this.FirstName = val.FirstName;
                        this.LastName = val.LastName;
                    }
                }
            },
            methods: {
                Save: function () {
                    this.person.FirstName = this.FirstName;
                    this.person.LastName = this.LastName;
                    var view = this;
                    if (this.person.isNew()) {
                        this.person.save().then(success => {
                            view.lst.reload();
                            view.person = null;
                        });
                    } else {
                        this.person.update().then(success => {
                            view.person = null;
                        });
                    }
                }
            }
        }).mount('#dvedit');
        const asynccomp = {
            template: '<slot v-if="resolve!=null" name="resolved" :result="resolve"></slot><slot v-if="reject!=null" name="rejected" :result="reject"></slot>',
            props: ['promise'],
            data: function(){
                return { resolve: null,reject:null };
            },
            watch: {
                promise: function (val) {
                    if (val != null && val instanceof Promise) {
                        var view = this;
                        val.then(result => { view.resolve = result; view.reject = null; }, result => { view.reject = result; view.resolve = null; });
                    } else {
                        this.resolve = null;
                        this.reject = null;
                    }
                }
            },
            mounted: function () {
                if (this.promise != null && this.promise instanceof Promise) {
                    var view = this;
                    this.promise.then(result => { view.resolve = result; view.reject = null; }, result => { view.reject = result; view.resolve = null; });
                } else {
                    this.resolve = null;
                    this.reject = null;
                }
            }
        };
        App.Models.mPerson.LoadAll().then(result => {
            window.lst = result.toVue({
                components: {
                    asynccomp
                },
                methods: {
                    EditPerson: function (person) {
                        frm.person = person;
                    },
                    CreateNew: function () {
                        frm.lst = this.Items;
                        frm.person = App.Models.mPerson.createInstance();
                    }
                }
            }).mount('#dvList');
        });
        App.Models.mPerson.Search(null).then(result => {
            window.lstFiltered = result.toVue({
                data: function () {
                    return { current_filter: null };
                },
                watch: {
                    current_filter: function (val) {
                        val = (val == '' ? null : val);
                        this.changeParameters(val);
                    }
                }
            }).mount('#dvListFiltered');
        });
        App.Models.mPerson.TestNull().then(result => { alert(result == null); });
    </script>
</body>
</html>
