<html>
<head>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
            "vue-loader":"https://unpkg.com/vue3-sfc-loader@0.8.4/dist/vue3-sfc-loader.esm.js"
          }
        }
    </script>
    <script type="module">
        import translator from './resources/messages/test.js';

        console.log(translator('Filtering'));
        console.log(translator('Formatted', ['a single input from the array']));
        console.log(translator('Name'));
        console.log(translator('Name', null, 'fr'));
    </script>
    
</head>
<body>
    <section id="dvList">
        <Suspense>
            <component is="list"/>
        </Suspense>
    </section>
    <section id="dvListFiltered" />
    <table id="dvedit" v-show="person!=null">
        <thead>
            <tr>
                <th colspan="100%">
                    <template v-if="person!=null && person.isNew()">
                        Create
                    </template>
                    <template v-if="person!=null && !person.isNew()">
                        Edit
                    </template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td><input type="text" v-model="FirstName" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" v-model="LastName" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <button v-on:click="Save" :disabled="FirstName==null||LastName==null">
                        <template v-if="person!=null && person.isNew()">
                            Create
                        </template>
                        <template v-if="person!=null && !person.isNew()">
                            Update
                        </template>
                    </button>
                    <button v-on:click="person=null">
                        Cancel
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>

    <ul id="list_items_module">
        <li><icon :iconType="'test'" /></li>
        <li v-for="item,index in Items" v-on:click="Items.splice(index)">{{item}}</li>
        <li v-on:click="append('NewItem')">Add New</li>
    </ul>

    <section id="notification_container" />

    <script type="module">
        import { mPerson } from "/testing/resources/scripts/mPerson.js";
        import { User } from "/testing/resources/scripts/models/User.js";
        import { createApp, watch, ref, defineComponent, toRef, h } from "vue";
        import hiddenArray from "/resources/scripts/hiddenArray.js";
        import notification from "/resources/vueFiles/notification.js";
        import { list, filtered_list } from "/resources/vueFiles/lists.js";

        window.lst = createApp({
            components: {list}
        }).mount('#dvList');
        
        createApp(notification).mount('#notification_container');
        window.lstFiltered = createApp(filtered_list).mount('#dvListFiltered');

        var person = mPerson.createInstance();
        console.log(person);
        var frm = createApp({
            data: function () {
                return { person: null, lst: null, FirstName: null, LastName: null };
            },
            watch: {
                person: function (val) {
                    if (val == null) {
                        this.FirstName = null;
                        this.LastName = null;
                    } else {
                        this.FirstName = val.FirstName;
                        this.LastName = val.LastName;
                        console.log(val.id);
                    }
                }
            },
            methods: {
                Save: function () {
                    this.person.FirstName = this.FirstName;
                    this.person.LastName = this.LastName;
                    var view = this;
                    if (this.person.isNew()) {
                        this.person.save().then(success => {
                            console.log(success);
                            view.lst.reload();
                            view.person = null;
                        });
                    } else {
                        this.person.update().then(success => {
                            view.person = null;
                        });
                    }
                }
            }
        }).mount('#dvedit');
        const asynccomp = {
            template: '<slot v-if="resolve!=null" name="resolved" v-bind="resolve"></slot><slot v-if="reject!=null" name="rejected" v-bind="reject"></slot>',
            props: ['promise', 'resultname'],
            data: function () {
                return { resolve: null, reject: null };
            },
            watch: {
                promise: function (val) {
                    if (val != null && val instanceof Promise) {
                        this.handlePromise();
                    } else {
                        this.resolve = null;
                        this.reject = null;
                    }
                }
            },
            methods: {
                handlePromise() {
                    var view = this;
                    this.promise.then(
                        result => {
                            if (view.resultname != undefined && view.resultname != null) {
                                var tmp = {};
                                tmp[view.resultname] = result;
                                view.resolve = tmp;
                            } else {
                                view.resolve = result;
                            }
                            view.reject = null;
                        },
                        result => {
                            if (view.resultname != undefined && view.resultname != null) {
                                var tmp = {};
                                tmp[view.resultname] = result;
                                view.reject = tmp;
                            } else {
                                view.reject = result;
                            }
                            view.resolve = null;
                        }
                    );
                }
            },
            mounted: function () {
                if (this.promise != null && this.promise instanceof Promise) {
                    this.handlePromise();
                } else {
                    this.resolve = null;
                    this.reject = null;
                }
            }
        };

        mPerson.TestNull().then(result => { alert(result == null); });
        let hiddenApp = createApp({
            components: {
                icon: defineComponent({
                    setup(props, context) {
                        const icontype = toRef(context.attrs, 'icontype');
                        return { icontype };
                    },
                    render() {
                        return h(
                            'i',
                            {
                                'class': 'icon ' + this.icontype
                            }
                        );
                    }
                })
            },
            setup(props, { attrs, slots, emit, expose }) {
                const { Items, append } = hiddenArray(props, { attrs, slots, emit, expose });
                return { Items, append };
            }
        }).mount('#list_items_module');

        mPerson.Search('b', 0, 1).reload().then(paged => {
            console.log(paged.currentPage);
            console.log(paged.length);
            console.log(paged.totalPages);
            console.log(paged[0].FirstName);
            paged.moveToNextPage().then(() => {
                console.log('page moved');
                console.log(paged.currentPage);
                console.log(paged[0].FirstName);
            });
        });
    </script>
</body>
</html>
