<html>
<head>
    <script src="https://unpkg.com/vue@next/dist/vue.global.js"></script>
    <script type="module">
        import translator from './resources/messages/test.js';

        console.log(translator('Filtering'));
        console.log(translator('Formatted', ['a single input from the array']));
        console.log(translator('Name'));
        console.log(translator('Name',null,'fr'));
    </script>
</head>
<body>
    <table id="dvList">
        <thead>
            <tr>
                <th colspan="100%">Full Person List</th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>FullName</th>
                <th>
                    <button v-on:click="CreateNew">Create New</button>
                </th>
            </tr>
        </thead>
        <tbody v-if="Items!=null">
            <tr v-for="person in Items">
                <td>{{person.FirstName}}</td>
                <td>{{person.LastName}}</td>
                <td>
                    <asynccomp v-bind:promise="person.GetFullName()" resultname="fullName">
                        <template #resolved="props">
                            {{props.fullName}}
                        </template>
                        <template #rejected="result">
                            <span style="color:red">{{result}}</span>
                        </template>
                    </asynccomp>
                </td>
                <td>
                    <button v-on:click="person.destroy()">Delete</button>
                    <button v-on:click="EditPerson(person)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="dvListFiltered">
        <thead>
            <tr>
                <th colspan="100%">Filtered Person List</th>
            </tr>
            <tr>
                <th colspan="100%">
                    <input type="text" v-model="current_filter" />
                </th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>FullName</th>
            </tr>
        </thead>
        <tbody v-if="Items!=null">
            <tr v-for="person in Items">
                <td>{{person.FirstName}}</td>
                <td>{{person.LastName}}</td>
                <asynccomp v-bind:promise="person.GetFullName()">
                    <template #resolved="props">
                        {{props.result}}
                    </template>
                    <template #rejected="props">
                        <span style="color:red">{{props.result}}</span>
                    </template>
                </asynccomp>
            </tr>
        </tbody>
    </table>
    <table id="dvedit" v-show="person!=null">
        <thead>
            <tr>
                <th colspan="100%">
                    <template v-if="person!=null && person.isNew()">
                        Create
                    </template>
                    <template v-if="person!=null && !person.isNew()">
                        Edit
                    </template>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td><input type="text" v-model="FirstName" /></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" v-model="LastName" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="100%">
                    <button v-on:click="Save" :disabled="FirstName==null||LastName==null">
                        <template v-if="person!=null && person.isNew()">
                            Create
                        </template>
                        <template v-if="person!=null && !person.isNew()">
                            Update
                        </template>
                    </button>
                    <button v-on:click="person=null">
                        Cancel
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
    <script type="module">
        import { mPerson } from "/testing/resources/scripts/mPerson.js";
        import { User } from "/testing/resources/scripts/models/User.js";

        var person =mPerson.createInstance();
        console.log(person);
        var frm = Vue.createApp({
            data: function () {
                return { person: null, lst: null, FirstName: null, LastName: null };
            },
            watch: {
                person: function (val) {
                    if (val == null) {
                        this.FirstName = null;
                        this.LastName = null;
                    } else {
                        this.FirstName = val.FirstName;
                        this.LastName = val.LastName;
                        console.log(val.id);
                    }
                }
            },
            methods: {
                Save: function () {
                    this.person.FirstName = this.FirstName;
                    this.person.LastName = this.LastName;
                    var view = this;
                    if (this.person.isNew()) {
                        this.person.save().then(success => {
                            console.log(success);
                            view.lst.reload();
                            view.person = null;
                        });
                    } else {
                        this.person.update().then(success => {
                            view.person = null;
                        });
                    }
                }
            }
        }).mount('#dvedit');
        const asynccomp = {
            template: '<slot v-if="resolve!=null" name="resolved" v-bind="resolve"></slot><slot v-if="reject!=null" name="rejected" v-bind="reject"></slot>',
            props: ['promise', 'resultname'],
            data: function () {
                return { resolve: null, reject: null };
            },
            watch: {
                promise: function (val) {
                    if (val != null && val instanceof Promise) {
                        this.handlePromise();
                    } else {
                        this.resolve = null;
                        this.reject = null;
                    }
                }
            },
            methods: {
                handlePromise() {
                    var view = this;
                    this.promise.then(
                        result => {
                            if (view.resultname != undefined && view.resultname != null) {
                                var tmp = {};
                                tmp[view.resultname] = result;
                                view.resolve = tmp;
                            } else {
                                view.resolve = result;
                            }
                            view.reject = null;
                        },
                        result => {
                            if (view.resultname != undefined && view.resultname != null) {
                                var tmp = {};
                                tmp[view.resultname] = result;
                                view.reject = tmp;
                            } else {
                                view.reject = result;
                            }
                            view.resolve = null;
                        }
                    );
                }
            },
            mounted: function () {
                if (this.promise != null && this.promise instanceof Promise) {
                    this.handlePromise();
                } else {
                    this.resolve = null;
                    this.reject = null;
                }
            }
        };
        window.lst =mPerson.LoadAll().toVue({
            components: {
                asynccomp
            },
            watch: {
                Items: {
                    deep: true,
                    handler: function () {
                        console.log('Items changed');
                    }
                }
            },
            methods: {
                EditPerson: function (person) {
                    frm.person = person;
                },
                CreateNew: function () {
                    frm.lst = this.Items;
                    frm.person =mPerson.createInstance();
                }
            }
        }).mount('#dvList');
        window.lstFiltered =mPerson.Search(null).toVue({
            data: function () {
                return { current_filter: null };
            },
            watch: {
                current_filter: function (val) {
                    val = (val == '' ? null : val);
                    this.changeParameters(val);
                }
            }
        }).mount('#dvListFiltered');
       mPerson.TestNull().then(result => { alert(result == null); });
    </script>
</body>
</html>
